<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Web Application</display-name>
	<welcome-file-list>
		<welcome-file>home.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>ErrorHandler</servlet-name>
		<display-name>ErrorHandler</display-name>
		<description></description>
		<servlet-class>com.revature.training.controller.errorhandler.ErrorHandler</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AuthenticateCustomer</servlet-name>
		<display-name>AuthenticateCustomer</display-name>
		<description></description>
		<servlet-class>com.revature.pms.controller.AutenticateCustomer</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CustomerController</servlet-name>
		<display-name>CustomerController</display-name>
		<description></description>
		<servlet-class>com.revature.pms.controller.CustomerController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteCustomerAccountController</servlet-name>
		<display-name>DeleteCustomerAccountController</display-name>
		<description></description>
		<servlet-class>com.revature.pms.controller.DeleteCustomerAccountController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DepositMoneyController</servlet-name>
		<display-name>DepositMoneyController</display-name>
		<description></description>
		<servlet-class>com.revature.pms.controller.DepositMoneyController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EditCustomerController</servlet-name>
		<display-name>EditCustomerController</display-name>
		<description></description>
		<servlet-class>com.revature.pms.controller.EditCustomerController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PrintCustomerController</servlet-name>
		<display-name>PrintCustomerController</display-name>
		<description></description>
		<servlet-class>com.revature.pms.controller.PrintCustomerController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TransferMoneyController</servlet-name>
		<display-name>TransferMoneyController</display-name>
		<description></description>
		<servlet-class>com.revature.pms.controller.TransferMoneyController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateCustomerController</servlet-name>
		<display-name>UpdateCustomerController</display-name>
		<description></description>
		<servlet-class>com.revature.pms.controller.UpdateCustomerController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ViewBalanceController</servlet-name>
		<display-name>ViewBalanceController</display-name>
		<description></description>
		<servlet-class>com.revature.pms.controller.ViewBalanceController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ViewStatementController</servlet-name>
		<display-name>ViewStatementController</display-name>
		<description></description>
		<servlet-class>com.revature.pms.controller.ViewStatementController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>WithdrawMoneyController</servlet-name>
		<display-name>WithdrawMoneyController</display-name>
		<description></description>
		<servlet-class>com.revature.pms.controller.WithdrawMoneyController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AuthenticateEmployee</servlet-name>
		<display-name>AuthenticateEmployee</display-name>
		<description></description>
		<servlet-class>com.revature.pms.employee.controller.AutenticateEmployee</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DisplayEmployeeController</servlet-name>
		<display-name>DisplayEmployeeController</display-name>
		<description></description>
		<servlet-class>com.revature.pms.employee.controller.DisplayEmployeeController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EditEmployeeController</servlet-name>
		<display-name>EditEmployeeController</display-name>
		<description></description>
		<servlet-class>com.revature.pms.employee.controller.EditEmployeeController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EmployeeController</servlet-name>
		<display-name>EmployeeController</display-name>
		<description></description>
		<servlet-class>com.revature.pms.employee.controller.EmployeeController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DisplayCustomerController</servlet-name>
		<display-name>DisplayCustomerController</display-name>
		<description></description>
		<servlet-class>com.revature.pms.controller.DisplayCustomerController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EditCustomerAccountController</servlet-name>
		<display-name>EditCustomerAccountController</display-name>
		<description></description>
		<servlet-class>com.revature.pms.controller.EditCustomerAccountController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EditEmployeeAccountController</servlet-name>
		<display-name>EditEmployeeAccountController</display-name>
		<description></description>
		<servlet-class>com.revature.pms.employee.controller.EditEmployeeAccountController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateEmployeeController</servlet-name>
		<display-name>UpdateEmployeeController</display-name>
		<description></description>
		<servlet-class>com.revature.pms.employee.controller.UpdateEmployeeController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FindCustomerController</servlet-name>
		<display-name>FindCustomerController</display-name>
		<description></description>
		<servlet-class>com.revature.pms.employee.controller.FindCustomerController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ViewAllCustomerController</servlet-name>
		<display-name>ViewAllCustomerController</display-name>
		<description></description>
		<servlet-class>com.revature.pms.employee.controller.ViewAllCustomerController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EditCustomersController</servlet-name>
		<display-name>EditCustomersController</display-name>
		<description></description>
		<servlet-class>com.revature.pms.employee.controller.EditCustomersController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateCustomersController</servlet-name>
		<display-name>UpdateCustomersController</display-name>
		<description></description>
		<servlet-class>com.revature.pms.employee.controller.UpdateCustomersController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ViewAllCustomerStatements</servlet-name>
		<display-name>ViewAllCustomerStatements</display-name>
		<description></description>
		<servlet-class>com.revature.pms.employee.controller.ViewAllCustomerStatements</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ViewAStatementController</servlet-name>
		<display-name>ViewAStatementController</display-name>
		<description></description>
		<servlet-class>com.revature.pms.employee.controller.ViewAStatementController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ErrorHandler</servlet-name>
		<url-pattern>/ErrorHandler</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AuthenticateCustomer</servlet-name>
		<url-pattern>/AuthenticateCustomer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CustomerController</servlet-name>
		<url-pattern>/CustomerController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteCustomerAccountController</servlet-name>
		<url-pattern>/DeleteCustomerAccountController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DepositMoneyController</servlet-name>
		<url-pattern>/DepositMoneyController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditCustomerController</servlet-name>
		<url-pattern>/EditCustomerController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PrintCustomerController</servlet-name>
		<url-pattern>/PrintCustomerController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TransferMoneyController</servlet-name>
		<url-pattern>/TransferMoneyController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateCustomerController</servlet-name>
		<url-pattern>/UpdateCustomerController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViewBalanceController</servlet-name>
		<url-pattern>/ViewBalanceController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViewStatementController</servlet-name>
		<url-pattern>/ViewStatementController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WithdrawMoneyController</servlet-name>
		<url-pattern>/WithdrawMoneyController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AuthenticateEmployee</servlet-name>
		<url-pattern>/AuthenticateEmployee</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DisplayEmployeeController</servlet-name>
		<url-pattern>/DisplayEmployeeController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditEmployeeController</servlet-name>
		<url-pattern>/EditEmployeeController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EmployeeController</servlet-name>
		<url-pattern>/EmployeeController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DisplayCustomerController</servlet-name>
		<url-pattern>/DisplayCustomerController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditCustomerAccountController</servlet-name>
		<url-pattern>/EditCustomerAccountController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditEmployeeAccountController</servlet-name>
		<url-pattern>/EditEmployeeAccountController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateEmployeeController</servlet-name>
		<url-pattern>/UpdateEmployeeController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FindCustomerController</servlet-name>
		<url-pattern>/FindCustomerController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViewAllCustomerController</servlet-name>
		<url-pattern>/ViewAllCustomerController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditCustomersController</servlet-name>
		<url-pattern>/EditCustomersController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateCustomersController</servlet-name>
		<url-pattern>/UpdateCustomersController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViewAllCustomerStatements</servlet-name>
		<url-pattern>/ViewAllCustomerStatements</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViewAStatementController</servlet-name>
		<url-pattern>/ViewAStatementController</url-pattern>
	</servlet-mapping>

	<error-page>
		<error-code>404</error-code>
		<location>/ErrorHandler</location>
	</error-page>

	<error-page>
		<error-code>405</error-code>
		<location>/ErrorHandler</location>
	</error-page>

	<error-page>
		<exception-type>javax.servlet.ServletException</exception-type>
		<location>/ErrorHandler</location>
	</error-page>

	<error-page>
		<exception-type>java.lang.NumberFormatException</exception-type>
		<location>/ErrorHandler</location>
	</error-page>

	<error-page>
		<exception-type>java.lang.NullPointerException</exception-type>
		<location>/ErrorHandler</location>
	</error-page>

<context-param>
<param-name>Copyright</param-name>
<param-value>mubasheer1401@gmail.com</param-value>
</context-param>
</web-app>
